@media (max-width: 991px){
    .text-content{
        width: 100%;
    }

    .navigation-wrap{
        text-align:center;
        background-color: var(--white-color);
    }
    .navigation-wrap .navbar-brand img{
        height: 3.8125rem;

    }
    .top-banner{
        padding: 9.375rem 0 9.375rem;
    }

}
@media (max-width: 765px) 
{
    h1{
        font-size: 2.8rem;
    }
    h2{
        font-size: 2rem;
        line-height: 2.0625rem;
    }
    
}